Host centos6
  Hostname 10.255.0.120
  IdentityFile ~/Techs/vagrant/ansible/.vagrant/machines/centos6/virtualbox/private_key

Host centos7
  Hostname 10.255.0.121
  IdentityFile ~/Techs/vagrant/ansible/.vagrant/machines/centos7/virtualbox/private_key

Host ubuntu12
  Hostname 10.255.0.122
  IdentityFile ~/Techs/vagrant/ansible/.vagrant/machines/ubuntu12/virtualbox/private_key

Host ubuntu14
  Hostname 10.255.0.123
  IdentityFile ~/Techs/vagrant/ansible/.vagrant/machines/ubuntu14/virtualbox/private_key

Host centos5
  Hostname 10.255.0.124
  IdentityFile ~/Techs/vagrant/ansible/.vagrant/machines/centos5/virtualbox/private_key

Host amazon
  Hostname 54.xxx.xxx.xxx
  IdentityFile ~/.ssh/cm-fujimoto.pem
  User ec2-user

Host *
  User vagrant
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
