Host centos6
  Hostname xxx.xxx.xxx.xxx
  IdentityFile xxxxx.pem

Host centos7
  Hostname xxx.xxx.xxx.xxx
  IdentityFile xxxxx.pem

Host ubuntu12
  Hostname xxx.xxx.xxx.xxx
  IdentityFile xxxxx.pem

Host ubuntu14
  Hostname xxx.xxx.xxx.xxx
  IdentityFile xxxxx.pem

Host centos5
  Hostname xxx.xxx.xxx.xxx
  IdentityFile xxxxx.pem

Host amazon
  Hostname xxx.xxx.xxx.xxx
  User ec2-user
  IdentityFile xxxxx.pem

Host *
  User vagrant
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
